{% extends 'index.html' %}
{% load i18n %}

{% block content %}
<h1>{% translate "Organization Details" %}</h1>

<p><strong>{% translate "Unit Name" %}</strong>: {{object.unit_name}}</p>
<p><strong>{% translate "Unit Type" %}</strong>: {{object.get_unit_type_display}}</p>
<p><strong>{% translate "Unit Parent" %}</strong>: {{object.parent_unit.unit_name}}</p>

<div>
    <a  href="{% url 'organization_update'  object.id  %}" class="btn btn-primary">{% translate "Edit" %}</a>
    <a  href="{% url 'organization_delete'  object.id  %}" class="btn btn-primary">{% translate "Delete" %}</a>
</div>

{% if 'view_type' in request.session %}
  {% if request.session.view_type == 'table' %}
    <p><a href="{% url 'organization_list' %}">{% translate "Back" %}</a></p>
  {% else %}
    <p><a href="{% url 'organization_list_card' %}">{% translate "Back" %}</a></p>
  {% endif %}
{% else %}
<p>{% translate "Error in config session" %}</p>
{% endif %}

{% endblock %}