{% load static %}
{% load i18n %}

<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            &copy;  {% translate "Coded by Maryam Jafarpour." %}
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/maryam-jafarpoor-3378b895/?originalSubdomain=ir" class="nav-link text-muted" target="_blank">{% translate "Maryam Jafarpour" %}</a>
            </li>
            <li class="nav-item">
              <a href="https://ut.ac.ir/en" class="nav-link text-muted" target="_blank">{% translate "University of Tehran" %}</a>
            </li>
            <li class="nav-item">
              <a href="https://appseed.us/support/" class="nav-link text-muted" target="_blank">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>