
{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h1>{% translate "User Details" %}</h1>


{% if object.image_avatar   %}
<img src="{{ object.image_avatar.url}}" alt="{{ object.username }}" class="img-fluid img-thumbnail">
{% else %}
<img src="{% static 'person.png' %}" alt="{{ object.username }}" class="img-fluid img-thumbnail">
{% endif %}


<p><strong>{% translate "Username" %}</strong>: {{object.username}}</p>
{% if object.display_name  %}<p><strong>{% translate "Display Name" %}</strong>: {{object.display_name}}</p>{% endif %}
{% if object.first_name   %}<p><strong>{% translate "First Name" %}</strong>: {{object.first_name}}</p>{% endif %}
{% if object.last_name   %}<p><strong>{% translate "Last Name" %}</strong>: {{object.last_name}}</p>{% endif %}
{% if object.email  %}<p><strong>{% translate "Email" %}</strong>: {{object.email}}</p>{% endif %}
{% if object.mobile   %}<p><strong>{% translate "Mobile Phone" %}</strong>: {{object.mobile}}</p>{% endif %}
{% if object.natinal_code   %}<p><strong>{% translate "National Code" %}</strong>: {{object.natinal_code}}</p>{% endif %}
{% if object.birth_date   %}<p><strong>{% translate "Birthdate" %}</strong>: {{object.birth_date}}</p>{% endif %}



<div>
    <a  href="{% url 'user_update'  object.id  %}" class="btn btn-primary">{% translate "Edit" %}</a>
    <a  href="{% url 'user_delete'  object.id  %}" class="btn btn-primary">{% translate "Delete" %}</a>
</div>



{% if 'view_type' in request.session %}
  {% if request.session.view_type == 'table' %}
    <p><a href="{% url 'user_list' %}">{% translate "Back" %}</a></p>
  {% else %}
    <p><a href="{% url 'user_list_card' %}">{% translate "Back" %}</a></p>
  {% endif %}
{% else %}
<p>{% translate "Error in config session" %}</p>
{% endif %}

{% endblock %}